---
layout: default
title: Home
---
%h1 Hello!
%p
  I am Michael C. Libby and this is my site. I am a software developer, web developer, and constantly learning
  more about computers and programming them. My friends tend to call me &ldquo;Libby.&rdquo; You are welcome to
  do the same.
        
%p
  If you look around here, you'll find some samples of work I've done for fun. My current favorite is a 
  <a href='/oregon'>re-creation of the original Oregon Trail game</a> &mdash; a real trip down memory lane.
  I've also been working on <a href='/ai'>learning artificial intelligence</a>. So I've got some exercises
  I did on that.

%h1 PiggyBank
%p
  One of my hobby projects right now is <a href='https://piggybank.live'>PiggyBank</a> &mdash; a project to create
  a household financial appliance. Trying to resolve issues I have with single-user accounting software that I've
  used over the years, while not falling into the trap of moving to "the cloud" (which trades one set of problems
  for a whole different set).

%h2 Other Places You Might Find Me
%p I have a GitHub account and I sometimes participate over on StackOverflow
%dl.iconic
  %dt
    .icon-github
  %dd
    %a{ href: "https://github.com/mlibby", title: "Github Repos" }
      http://github.com/mlibby
  %dt
    .icon-stackoverflow
  %dd
    %a{ href: "http://stackoverflow.com/users/13468/mlibby", title: "StackOverflow profile"}
      http://stackoverflow.com/users/13468/mlibby
  %dt
    .icon-bullhorn
  %dd
    Mastodon
    %a{ href: "https://hachyderm.io/@mlibby", title: "Mastodon", rel: "me"}
      @mlibby@hachyderm.io

%h2 Unsupported Browser?
%p
  It's possible that some of the example applications on this web site are not compatible with your web browser. If you are
  using an outdated browser like Internet Explorer or Netscape Navigator, then I'd suggest using Firefox, Edge,
  or even Chrome. If you are using a text-mode browser, I'm sorry, but this site is all about Javascript code which
  doesn't work in any text-mode browsers I'm aware of.
